.app-container {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ccc;
}
.header .cell {
  background: #f2f2f2;
  font-weight: bold;
  border-bottom: 2px solid #999;
}
.row {
  display: flex;
}

.cell {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}
